/* .root .appbar {
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  background-color: burlywood;
  color: brown;
  padding: 0 15px;
  flex-grow: 1;
}
.toolbar {
  padding: 0;
}
.title {
  flex-grow: 1;
} */

.toppageTitle {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 55px;
  transform: translate(-50%, -50%);
  margin: 0;
  size: 40px;
  padding: 5px 10px; /*文字周りの余白*/
  color: black;
  border-bottom: 3px dashed black;
}
