.orderConfirm {
  .context {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textField {
    margin: 10px 0;
  }
  .zipCode {
    padding-left: 80px;
    display: flex;
    align-items: center;
  }
  .orderButton {
    padding-bottom: 30px;
  }
}
